name: Release

on:
  push:
    tags:
    - 'v*'
    - 'test-v*'
  pull_request:

env:
  ALPINE_VERSION: 3.16.0
  DOCKER_BUILDKIT: 1

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: recursive
        persist-credentials: false

    - name: Install the arm64 emulator for binfmt_misc
      run: |
        docker run --privileged --rm tonistiigi/binfmt --install arm64

    - name: Build the mkimage images
      run: |
        make mkimage ARCH=x86_64
        make mkimage ARCH=aarch64

    - name: Build the rd edition
      run: |
        make iso EDITION=rd ARCH=x86_64
        make iso EDITION=rd ARCH=aarch64

    - name: Create release
      if: github.event_name != 'pull_request'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Note "folded" style; requires a blank line to insert actual newline
      run: >
        tag="${GITHUB_REF##*/}"

        hub release create
        -a iso/alpine-lima-rd-${ALPINE_VERSION}-aarch64.iso
        -a iso/alpine-lima-rd-${ALPINE_VERSION}-aarch64.iso.sha512sum
        -a iso/alpine-lima-rd-${ALPINE_VERSION}-x86_64.iso
        -a iso/alpine-lima-rd-${ALPINE_VERSION}-x86_64.iso.sha512sum
        -m "${tag}" --draft "${tag}"
